fastapi
SQLAlchemy>=2.0,<3.0
psycopg[binary]>=3.1,<4.0
PyJWT>=2.8,<3.0
argon2-cffi>=23.1,<26.0
uvicorn[standard]
langchain
langgraph
pydantic
python-dotenv
ipykernel
pypdf
langchain-text-splitters
langchain-google-genai
tavily-python
python-multipart
langgraph-checkpoint-sqlite
pytest
pillow
requests